@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Dancing+Script:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Agbalumo", sans-serif;    
}

.home-background {
    position: relative;
    width: 100%;
    height: 100vh; /* Utilisation de la hauteur de la fenêtre pour l'image de fond */
    overflow: hidden; /* Cache toute partie dépassant de la zone visible */
}
.home-background img {
    width: 100%; /* L'image de fond prend toute la largeur de son conteneur */
    height: 100%; /* L'image de fond prend toute la longeur de son conteneur */
    object-fit: cover; /* Redimensionne l'image pour remplir complètement le conteneur */
    position: relative;
    top: 0;
    left: 0;
}

.title {
    color: transparent;
    -webkit-text-stroke: 0.47px #C49C5F; /* Contour des lettres */
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 100px 0px 20px;
}
.titreHome {
    color: #741717;
    -webkit-text-stroke: 0.47px #C49C5F; /* Contour des lettres de 2 px de couleur noire */
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.counter {
    text-align: center;
}

.list-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contentSyn {
    padding: 0px 390px 0px 390px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*==============================NAVBAR================================*/

.menu {
    position: absolute;
    width: 280px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 3;
    width: 100%;
    padding-top: 108px;
}

.eye {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 60px;
    background-color: #741717;
    border-radius: 50%;
    border: 0.47px solid #C49C5F;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.74s;
    mix-blend-mode: luminosity;
    margin-bottom: -3px;
    z-index: 1;
}
.eye:hover {
    background-color: #575757;
    color: #C49C5F;
    transform: scale(1.20);
}
.eye.active .menu-list li {
    background-color: #741717;
}
.eye.active ~ .menu-list li {
    transform: rotate(calc(var(--i) * 90deg)) translate(140px) rotate(calc(-1 * var(--i) * 90deg)) rotate(720deg) scale(1.0); /* Transformation pour les icônes */
    transform-origin: center center;
}

.menu-list {
    list-style: none; /* Supprimer les puces des listes */
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center; 
}
.icon {
    width: 88px; 
    height: 88px; 
    border-radius: 50%; /* Forme circulaire */
    background-color: #9c3d3d; 
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    transform: rotate(720deg) scale(0.1); /* rotation et dezoom */
    transition: transform 1s ease-in-out;  
}
.icon:hover {
    border: 0.47px solid #C49C5F;
}
.icon:hover + .iconContent {
    color: #C49C5F;
}

.iconContent {
    text-decoration: none;
    color: #000; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 74px;
    font-size: 0.74rem;
    margin-bottom: 7px;
    transition: color 1.25s transform 1.25s ease-in-out;
    border-radius: 50%;
    box-sizing: border-box;
}
.icon a:hover {
    color: #C49C5F;
}

#iconMask {
    width: 100%;
    font-size: 2rem;
    margin-top: 10px;
}
#iconReal a ion-icon {
    margin-bottom: -4px;
}
.iconContent ion-icon {
    width: 100%;
    font-size: 2rem; /* Taille de l'icône */
}


/*=============================NAVBAR================================*/

/*=============== LEFT NAVBAR ================*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;/* La navbar occupe la largeur complète de son conteneur parent */
    position: fixed;/* La navbar est fixée en haut de la fenêtre, reste visible lors du défilement */
    top: 0;/* La navbar est positionnée au sommet de la fenêtre */
    z-index: 3;/* L'index z définit la pile d'affichage*/
    background: rgba(0, 0, 0, 0.5);
}
.navbar h1 {
    cursor: default;
    color: #C49C5F;
    margin: 0px 50px;
}
.navbar h1 a {
    text-decoration: none;
    color: #C49C5F;
    opacity: 1;
    transition: 0.47s;
}
.navbar h1 a:hover {
    opacity: 0.4;
} 

/*=============== MIDDLE NAVBAR ================*/

.midNav {
    display: flex;
    list-style: none;
    padding: 26px 30px;
    gap: 20px;
}
.midNav a {
    text-decoration: none;
    cursor: pointer;
    color: #C49C5F;
    opacity: 1;
    transition: 0.47s;
    margin-right: 20px;
}
.midNav a:last-child {
    margin-right: 0;
}
.midNav a:hover {
    opacity: 0.4;
}
.midMidNav {
    display: flex;
    justify-content: space-around;
}
.midMidNav a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*=============== RIGHT NAVBAR ================*/

.rightRightNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0px 50px;
}
.rightNav i  {
    color: #C49C5F;
    cursor: pointer;
    opacity: 1;
    transition: 0.47s;
}
.rightNav i:hover {
    opacity: 0.4;
}


/*==============================TABLE================================*/

.table {
    width: 100%;
    padding: 0px 74px 47px;
}
.column {
    border: 1px solid #000;
    padding: 5px;
    border-radius: 4px;
}
/* #selectCase:hover {
    border: 1px solid #C49C5F;
} */
.columna {
    color: #000;
    text-decoration: none;
}
.columna:hover {
    color: #C49C5F;
}
.columna ion-icon {
    color: #C49C5F;
    width: 100%;
    font-size: 2rem;
    cursor: pointer;
    padding: 0px 12px;
    margin-top: 5px;
    transition: 1s;
}
.columna ion-icon:hover {
    transform: scale(1.2);
}
.add ion-icon {
    color: #C49C5F;
    font-size: 1.4rem;
    cursor: pointer;
    margin-bottom: -2px;
    margin-left: 5px;
    transition: 1s;
}
.add ion-icon:hover {
    transform: scale(1.2);
}
.tableCenter {
    border: 1px solid #000;
    border-radius: 4px;
    text-align: center;
    cursor: default;
}
.tableCenterUD {
    border: none;
    text-align: center;
}


/*================================Formular & List========================================*/

.listHeader {
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    /* color: #000; */
}
.formular {
    margin-top: 10px;
    
}
.formular label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.formular label input {
    text-align: center;
    margin-top: 3px;
}
.champ-a-corriger {
    background-color: #ffcccc;
}
.filmInput {
    width: 238px;
    box-sizing: border-box;
}
.realSelect {
    margin: 3px;
}
.buttonModif {
    margin-bottom: 20px;
}
.form-container {
    display: flex;
}
.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-left: 220px;
}
.synopsis-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 20px; 
    margin-right: 220px;
}
.synopsis-column textarea {
    text-align: justify;
    padding: 15px;
    resize: none; 
    min-height: 100px; 
    max-height: 343px;
    min-width: 400px;
    max-width: 500px;
    box-sizing: border-box;
}


/*================================CASTING========================================*/

/* "<span class='etoile active' style='width:" . ($decimal * 100) . "%;'>&#9733;</span>" */

/* .etoile {
    
} */



/* =============== MOBILE VERSION ===================== */

@media screen and (max-width: 640px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Agbalumo", sans-serif;    
    }

    .navbar {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .midNav {
        padding: 5px 30px 15px;
    }
    .rightRightNav {
        margin: 0px 50px 10px;
    }
    
    .contentSyn {
        padding: 0px;   
    }
    .form-column {
        
        margin-left: 0px;
    }
    .synopsis-column {
        
        margin-right: 0px;
    }
    .synopsis-column textarea {
        margin-left: 10px;
    }
}