@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    
}

.container {
    background-color: #616161;
}

.title {
    color: #741717;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0px 0px 74px;
}

/*==============================NAVBAR================================*/

.menu {
    position: relative;
    width: 280px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 60px;
    background-color: #9c3d3d;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.74s;
    z-index: 1;
}
.toggle:hover {
    background-color: #741717;
    transform: scale(1.20);
}

#icon-container1 {
    background-color: #9c3d3d;
    transition: 1.25s;
}
#icon-container1:hover a  {
    color: #000;
}


.menu ul.menu-list {
    list-style: none; /* Supprimer les puces des listes */
    position: absolute;
    /* top: 50%;
    left: 50%; */
    display: flex;
    justify-content: center;
    flex-direction: column; /* Affichage vertical des liens */
    align-items: center; /* Alignement des éléments au centre */
}

.toggle.active ul.menu-list li {
    background-color: #741717;
    transform: scale(0.5) rotate(360deg);
    transition: 1.25s;
}

.menu ul.menu-list li {
    width: 74px; /* Largeur de chaque élément li */
    height: 74px; /* Hauteur de chaque élément li */
    border-radius: 50%; /* Forme circulaire */
    background-color: #9c3d3d; /* Couleur de fond */
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: rotate(calc(var(--i) * 90deg)) translate(140px) rotate(calc(-1 * var(--i) * 90deg));
    /* transition: transform 4s ease-in-out; */
}
.menu .toggle.active ~ ul.menu-list li {
    transform: rotate(360deg) scale(0.1); /* Transformation pour les icônes */
    /* transition: transform 4s ease-in-out; */
}

.menu .toggle.active ~ ul.menu-list li:nth-child(1) {
    transition-delay: 1.25s;
    transform-origin: center center ;
}
.menu .toggle.active ~ ul.menu-list li:nth-child(2) {
    transition-delay: 2.5s;
    transform-origin: center center;
}
.menu .toggle.active ~ ul.menu-list li:nth-child(3) {
    transition-delay: 3.75s;
    transform-origin: center center;
}
.menu .toggle.active ~ ul.menu-list li:nth-child(4) {
    transition-delay: 4.0s;
    transform-origin: center center;
}
/* ... Répétez pour chaque élément de la liste, en augmentant la valeur de transition-delay pour chaque nouvel élément */

.menu ul.menu-list li a {
    text-decoration: none;
    color: #333; /* Couleur du texte */
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-size: 0.74rem;
}

.menu ul.menu-list li a ion-icon {
    width: 100%;
    font-size: 2rem; /* Taille de l'icône */
}







/*==============================TABLE================================*/
.column {
    border: 1px solid #000;
    padding: 5px;
}
.tableCenter {
    border: 1px solid #000;
    text-align: center;
}